.searchbar {
  display: block;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: linear-gradient(#eee, #fff);
  transition: all 0.3s ease-out;
  padding: 5px;
  color: rgb(54, 114, 204);
  text-align: center;
  margin: 15px auto;
  height: 30px;
}
